.container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #f3f4f6;
}

.form {
	background-color: white;
	padding: 2rem;
	border-radius: 0.5rem;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	width: 100%;
	max-width: 400px;
}

.title {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 1.5rem;
	text-align: center;
	color: #27272a;
}

.submitButton {
	width: 100%;
	margin-top: 1rem;
}

.loginLink {
	margin-top: 1rem;
	text-align: center;
	font-size: 0.875rem;
	color: #27272a;
}

.loginLink a {
	color: #3b82f6;
	text-decoration: none;
}

.loginLink a:hover {
	text-decoration: underline;
}

.errorText{
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}
